Repository 701-T4/flatshare, pull requests merged in 2022-03, with the labels that each got.

#3 chore(github): add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: chore, rfc

#2 chore(github): add example PR template
  .github/pull_request_template.md
Labels: chore, rfc

#5 Introduce proposed open-source project related files
  .editorconfig
  .gitattributes
  .gitignore
  CODEOWNERS
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
Labels: chore, discussion, rfc

#7 Initial monorepo setup
  .gitignore
  .husky/.gitignore
  .husky/pre-commit
  CODEOWNERS
  CONTRIBUTING.md
  README.md
  lerna.json
  package.json
  packages/backend/.gitkeep
  packages/frontend/.gitkeep
  yarn.lock
Labels: chore, feature

#11 Feature/ping endpoint
  .github/workflows/pr-check.yml
  .husky/pre-commit
  .prettierrc
  README.md
  lerna.json
  package.json
  packages/backend/.env.development.template
  packages/backend/.env.production.template
  packages/backend/.eslintrc.js
  packages/backend/.gitignore
  packages/backend/.gitkeep
  packages/backend/README.md
  packages/backend/nest-cli.json
  packages/backend/package.json
  packages/backend/src/api.controller.spec.ts
  packages/backend/src/api.controller.ts
  packages/backend/src/app.module.ts
  packages/backend/src/main.ts
  packages/backend/src/schemas/pingResponse.ts
  packages/backend/src/users/dto/create-user.dto.ts
  packages/backend/src/users/dto/update-user.dto.ts
  packages/backend/src/users/entities/user.entity.ts
  packages/backend/src/users/users.controller.spec.ts
  packages/backend/src/users/users.controller.ts
  packages/backend/src/users/users.module.ts
  packages/backend/src/users/users.service.spec.ts
  packages/backend/src/users/users.service.ts
  packages/backend/tsconfig.build.json
  packages/backend/tsconfig.json
  packages/backend/yarn.lock
Labels: feature, back-end

#15 Add create-react-app boilerplate
  .prettierrc
  CODEOWNERS
  packages/backend/.eslintrc.js
  packages/backend/src/.env
  packages/backend/src/api.controller.ts
  packages/backend/src/app.module.ts
  packages/backend/src/main.ts
  packages/backend/src/users/users.controller.ts
  packages/frontend/.env.development
  packages/frontend/.gitignore
  packages/frontend/README.md
  packages/frontend/package.json
  packages/frontend/postcss.config.js
  packages/frontend/public/favicon.ico
  packages/frontend/public/index.html
  packages/frontend/public/logo192.png
  packages/frontend/public/logo512.png
  packages/frontend/public/manifest.json
  packages/frontend/public/robots.txt
  packages/frontend/src/App.tsx
  packages/frontend/src/components/common/layout/Footer.tsx
  packages/frontend/src/components/common/layout/Navigation.tsx
  packages/frontend/src/components/common/layout/Page.tsx
  packages/frontend/src/components/home/.gitkeep
  packages/frontend/src/hooks/useApi.ts
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/public/HomePage.tsx
  packages/frontend/src/pages/public/SignInPage.tsx
  packages/frontend/src/pages/routes/AuthenticatedRoutes.tsx
  packages/frontend/src/pages/routes/Router.tsx
  packages/frontend/src/pages/routes/UnauthenticatedRoutes.tsx
  packages/frontend/src/react-app-env.d.ts
  packages/frontend/src/services/.gitkeep
  packages/frontend/src/styles/index.css
  packages/frontend/src/util/.gitkeep
  packages/frontend/tailwind.config.js
  packages/frontend/tsconfig.json
  packages/frontend/yarn.lock
Labels: feature, front-end

#23 Add project specific steps to issue and PR checklists
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: chore, dx

#26 feat(CI): restrict PR check to when ready for review
  .github/workflows/pr-check.yml
Labels: chore, dx

#28 Added openapi-typescript and openapi-typescript-fetch
  packages/frontend/README.md
  packages/frontend/package.json
  packages/frontend/src/types/api-schema.ts
  packages/frontend/yarn.lock
Labels: enhancement, front-end, dx

#30 Add typings to the useApi hook
  packages/frontend/src/hooks/__tests__/useApi.test.ts
  packages/frontend/src/hooks/useApi.ts
  packages/frontend/src/pages/public/HomePage.tsx
Labels: enhancement, front-end, dx

#37 Add firebase to the project
  CONTRIBUTING.md
  README.md
  packages/frontend/.env.development
  packages/frontend/package.json
  packages/frontend/scripts/firebase-config/.gitignore
  packages/frontend/scripts/firebase-config/FirebaseConfigToClipboard.js
  packages/frontend/scripts/firebase-config/README.md
  packages/frontend/src/index.tsx
  packages/frontend/src/services/.gitkeep
  packages/frontend/src/services/firebase.ts
  packages/frontend/yarn.lock
Labels: feature, front-end

#39 set up nextUI Theme
  packages/frontend/src/App.tsx
  packages/frontend/src/pages/public/HomePage.tsx
  packages/frontend/src/theme.tsx
Labels: front-end

#25 Add mongoose
  package.json
  packages/backend/.env.development.template
  packages/backend/.env.production.template
  packages/backend/package.json
  packages/backend/src/app.module.ts
  packages/backend/src/db/db.module.ts
  packages/backend/src/db/user/user.schema.ts
  packages/backend/src/db/user/userStore.service.spec.ts
  packages/backend/src/db/user/userStore.service.ts
  packages/backend/src/users/dto/create-user.dto.ts
  packages/backend/src/users/users.controller.spec.ts
  packages/backend/src/users/users.controller.ts
  packages/backend/src/users/users.module.ts
  packages/backend/src/users/users.service.spec.ts
  packages/backend/src/users/users.service.ts
  packages/backend/yarn.lock
Labels: feature, back-end

#27 Create dockerfile
  Dockerfile
  README.md
  docker-compose.override.yml
  docker-compose.yaml
  package.json
  packages/backend/Dockerfile
  packages/backend/README.md
  packages/frontend/Dockerfile
  packages/frontend/README.md
Labels: feature, dx

#53 Fix incorrect user typings, store full user object in context
  packages/frontend/src/hooks/useAuth.tsx
  packages/frontend/src/pages/public/HomePage.tsx
  packages/frontend/src/pages/routes/Router.tsx
Labels: bug, front-end

#51 User login guard
  CONTRIBUTING.md
  keys/.gitignore
  packages/backend/package.json
  packages/backend/src/api.controller.ts
  packages/backend/src/app.module.ts
  packages/backend/src/guards/firebare.auth.ts
  packages/backend/src/guards/firebase.guard.spec.ts
  packages/backend/src/guards/firebase.guard.ts
  packages/backend/src/schemas/pingResponse.ts
  packages/backend/src/util/user.decorator.ts
  packages/backend/yarn.lock
  packages/frontend/src/components/common/layout/Footer.tsx
  packages/frontend/src/components/common/layout/Navigation.tsx
  packages/frontend/src/components/common/layout/Page.tsx
  packages/frontend/src/pages/public/HomePage.tsx
  packages/frontend/src/types/api-schema.ts
Labels: feature, back-end

#67 Fix sign in not being persisted
  packages/frontend/src/hooks/useAuth.tsx
  packages/frontend/src/pages/public/SignInPage.tsx
  packages/frontend/src/pages/routes/AuthenticatedRoutes.tsx
  packages/frontend/src/pages/routes/Router.tsx
Labels: bug, feature, front-end

#65 Add Corner Alert
  packages/frontend/src/App.tsx
  packages/frontend/src/components/common/util/CornerAlert.tsx
Labels: feature, front-end

#45 Add Backend API for Account Management
  package.json
  packages/backend/src/app.module.ts
  packages/backend/src/controllers/api.controller.spec.ts
  packages/backend/src/controllers/api.controller.ts
  packages/backend/src/controllers/house/dto/create-house.dto.ts
  packages/backend/src/controllers/house/dto/house-response.dto.ts
  packages/backend/src/controllers/house/dto/join-house.dto.ts
  packages/backend/src/controllers/house/house.controller.spec.ts
  packages/backend/src/controllers/house/house.controller.ts
  packages/backend/src/controllers/house/house.module.ts
  packages/backend/src/controllers/house/house.util.ts
  packages/backend/src/controllers/users/dto/create-user.dto.ts
  packages/backend/src/controllers/users/dto/user-response.dto.ts
  packages/backend/src/controllers/users/users.controller.spec.ts
  packages/backend/src/controllers/users/users.controller.ts
  packages/backend/src/controllers/users/users.module.ts
  packages/backend/src/db/db.module.ts
  packages/backend/src/db/house/house.schema.ts
  packages/backend/src/db/house/houseStore.service.spec.ts
  packages/backend/src/db/house/houseStore.service.ts
  packages/backend/src/db/user/user.schema.ts
  packages/backend/src/db/user/userStore.service.spec.ts
  packages/backend/src/db/user/userStore.service.ts
  packages/backend/src/guards/firebase.auth.ts
  packages/backend/src/guards/firebase.guard.ts
  packages/backend/src/main.ts
  packages/backend/src/schemas/pingResponse.ts
  packages/backend/src/users/dto/create-user.dto.ts
  packages/backend/src/users/dto/update-user.dto.ts
  packages/backend/src/users/entities/user.entity.ts
  packages/backend/src/users/users.controller.ts
  packages/backend/src/util/auth.decorator.ts
  packages/frontend/src/types/api-schema.ts
Labels: feature, back-end

#48 Account-management UI Implementation
  README.md
  packages/backend/README.md
  packages/frontend/README.md
  packages/frontend/src/components/account/CreateHouseModal.tsx
  packages/frontend/src/components/account/JoinHouseModal.tsx
  packages/frontend/src/pages/private/ManageAccountPage.tsx
  packages/frontend/src/pages/public/HomePage.tsx
  packages/frontend/src/pages/routes/AuthenticatedRoutes.tsx
  packages/frontend/src/pages/routes/QueryParamHandler.tsx
  packages/frontend/src/pages/routes/UnauthenticatedRoutes.tsx
  packages/frontend/src/services/HouseService.ts
  packages/frontend/src/styles/index.css
  packages/frontend/src/theme.tsx
Labels: feature, front-end

#78 Update GET /house api endpoint to return 404 if no house found
  packages/backend/src/controllers/house/house.controller.spec.ts
  packages/backend/src/controllers/house/house.controller.ts
  packages/backend/src/util/testing.utils.ts
Labels: bug, back-end

#70 Add loading screen component
  packages/frontend/public/index.html
  packages/frontend/src/components/HouseConflictModal.tsx
  packages/frontend/src/pages/public/LandingPage.tsx
  packages/frontend/src/pages/public/LoaderPage.tsx
  packages/frontend/src/types/lottie.d.ts
Labels: front-end

#61 add Frontend build and Run Tests on CI/CD
  .github/workflows/pr-check.yml
  packages/frontend/src/pages/private/ManageAccountPage.tsx
  packages/frontend/src/pages/public/LandingPage.tsx
Labels: enhancement, security, front-end, dx

#97 Disable lfs.locksverify on postinstall
  package.json
Labels: bug, dx

#89 add attribution files for the 3rd party dependencies and other resources (new PR)
  .github/pull_request_template.md
  ATTRIBUTIONS.md
  LICENSE-3RD-PARTY.md
  README.md
  package.json
  packages/backend/LICENSE-3RD-PARTY.md
  packages/backend/package.json
  packages/frontend/LICENSE-3RD-PARTY.md
  packages/frontend/package.json
Labels: legal, documentation

#90 Add Eslint to backend and set up precommit lint hook
  package.json
  packages/backend/.eslintrc.js
  packages/backend/package.json
  packages/backend/yarn.lock
  yarn.lock
Labels: chore, back-end, dx

#98 deploy backend and frontend
  .github/workflows/deploy.yml
  .github/workflows/pr-check.yml
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
  packages/backend/package.json
  packages/backend/src/controllers/house/house.module.ts
  packages/backend/src/guards/firebase.auth.ts
  packages/frontend/.env.production
  packages/frontend/.firebaserc
  packages/frontend/firebase.json
  packages/frontend/package.json
  packages/frontend/yarn.lock
Labels: feature, front-end, back-end, dx, ci/cd

#105 fix eslint issue
  .github/workflows/pr-check.yml
  LICENSE-3RD-PARTY.md
  package.json
  packages/backend/.eslintrc.js
  packages/backend/LICENSE-3RD-PARTY.md
  yarn.lock
Labels: bug, back-end

#79 Add name field to user
  packages/backend/src/controllers/house/dto/house-response.dto.ts
  packages/backend/src/controllers/users/dto/create-user.dto.ts
  packages/backend/src/controllers/users/dto/user-response.dto.ts
  packages/backend/src/controllers/users/users.controller.ts
  packages/backend/src/db/user/user.schema.ts
  packages/backend/src/db/user/userStore.service.spec.ts
  packages/backend/src/guards/firebase.auth.ts
Labels: back-end

#93 documentation update
  CONTRIBUTING.md
  LICENSE
  README.md
  packages/backend/LICENSE-3RD-PARTY.md
  packages/frontend/scripts/firebase-config/README.md
  resources/logo-text.svg
  resources/sc-1.png
  resources/sc-2.png
  resources/sc-3.png
Labels: documentation, dx

#111 #106 Call CreateUser Mutation when Signing Up
  packages/backend/src/controllers/house/house.controller.ts
  packages/frontend/src/pages/public/SignInPage.tsx
  packages/frontend/src/types/api-schema.ts
Labels: front-end

#119 Add Licenses to prettier ignore, make binary in gitattributes
  .gitattributes
  .prettierignore
  packages/backend/LICENSE-3RD-PARTY.md
  packages/frontend/LICENSE-3RD-PARTY.md
Labels: bug, dx

#99 backend - get users in flat
  LICENSE-3RD-PARTY.md
  packages/backend/LICENSE-3RD-PARTY.md
  packages/backend/src/controllers/api.controller.ts
  packages/backend/src/controllers/house/dto/house-response.dto.ts
  packages/backend/src/controllers/house/house.controller.spec.ts
  packages/backend/src/controllers/house/house.controller.ts
  packages/backend/src/controllers/house/house.module.ts
  packages/backend/src/db/house/house.schema.ts
  packages/backend/src/db/house/houseStore.service.spec.ts
  packages/backend/src/db/house/houseStore.service.ts
  packages/backend/src/guards/firebase.auth.ts
Labels: enhancement, back-end

#113 Update site descriptions and metadata
  packages/frontend/public/favicon.ico
  packages/frontend/public/favicon.png
  packages/frontend/public/index.html
  packages/frontend/public/logo-bg-white.png
  packages/frontend/public/logo192.png
  packages/frontend/public/logo512.png
  packages/frontend/public/logo@2x.png
  packages/frontend/public/logo@3x.png
  packages/frontend/public/manifest.json
Labels: ux, front-end

#122 Update useHouse hook and fix swagger docs
  packages/backend/src/controllers/house/dto/house-response.dto.ts
  packages/frontend/src/hooks/useHouse.tsx
  packages/frontend/src/types/api-schema.ts
Labels: bug, feature, front-end, back-end, documentation

#110 Backend bill splitting endpoints and db schema
  packages/backend/src/app.module.ts
  packages/backend/src/controllers/bills/bills.controller.ts
  packages/backend/src/controllers/bills/bills.module.ts
  packages/backend/src/controllers/bills/bills.util.ts
  packages/backend/src/controllers/bills/dto/bill-response.dto.ts
  packages/backend/src/controllers/bills/dto/create-bill.dto.ts
  packages/backend/src/controllers/bills/dto/pay-bill.dto.ts
  packages/backend/src/controllers/bills/dto/update-bill.dto.ts
  packages/backend/src/db/bill/bill.schema.ts
  packages/backend/src/db/bill/billStore.service.ts
  packages/backend/src/db/db.module.ts
  packages/backend/src/guards/firebase.auth.ts
Labels: feature, back-end

#104 Add notes to db and create notes endpoints
  LICENSE-3RD-PARTY.md
  packages/backend/LICENSE-3RD-PARTY.md
  packages/backend/package.json
  packages/backend/src/app.module.ts
  packages/backend/src/controllers/house/house.controller.spec.ts
  packages/backend/src/controllers/house/house.controller.ts
  packages/backend/src/controllers/house/house.module.ts
  packages/backend/src/controllers/note/dto/create-note.dto.ts
  packages/backend/src/controllers/note/dto/note-response.dto.ts
  packages/backend/src/controllers/note/dto/update-note.dto.ts
  packages/backend/src/controllers/note/note.controller.spec.ts
  packages/backend/src/controllers/note/note.controller.ts
  packages/backend/src/controllers/note/note.module.ts
  packages/backend/src/db/db.module.ts
  packages/backend/src/db/note/note.schema.ts
  packages/backend/src/db/note/noteStore.service.spec.ts
  packages/backend/src/db/note/noteStore.service.ts
  packages/backend/src/main.ts
  packages/backend/yarn.lock
Labels: back-end

#130 Return user's name when retrieving house info
  packages/backend/src/controllers/house/house.controller.ts
  packages/backend/src/db/house/houseStore.service.ts
Labels: bug, back-end

#91 Bill Splitting page
  packages/backend/src/controllers/bills/bills.controller.ts
  packages/backend/src/controllers/bills/bills.util.ts
  packages/backend/src/controllers/bills/dto/bill-response.dto.ts
  packages/backend/src/controllers/bills/dto/create-bill.dto.ts
  packages/frontend/.eslintrc.js
  packages/frontend/package.json
  packages/frontend/src/components/bill/EditBillCard.tsx
  packages/frontend/src/components/bill/NewBillCard.tsx
  packages/frontend/src/components/common/util/useLocalStorage.ts
  packages/frontend/src/components/common/util/useLocalStorageJoinCode.tsx
  packages/frontend/src/components/dashboard/QuickAccessPanel.tsx
  packages/frontend/src/components/dashboard/upcoming-tasks/UpcomingTask.tsx
  packages/frontend/src/hooks/useHouse.tsx
  packages/frontend/src/pages/private/BillDetailPage.tsx
  packages/frontend/src/pages/private/BillSplittingPage.tsx
  packages/frontend/src/pages/routes/AuthenticatedRoutes.tsx
  packages/frontend/src/pages/routes/QueryParamHandler.tsx
  packages/frontend/src/pages/routes/Router.tsx
  packages/frontend/src/types/api-schema.ts
  packages/frontend/yarn.lock
Labels: feature, front-end

#129 fix configure-env script causing errors with environment variables
  README.md
  packages/backend/src/main.ts
  packages/backend/src/scripts/configure-env.ts
Labels: bug, production, back-end

#133 hotfix: env check script
  packages/backend/src/scripts/configure-env.ts
Labels: bug, production, back-end

#124 Add auth emulator
  CONTRIBUTING.md
  README.md
  packages/backend/.firebaserc
  packages/backend/firebase.json
  packages/backend/package.json
  packages/backend/src/controllers/note/note.controller.spec.ts
  packages/backend/src/db/note/noteStore.service.spec.ts
  packages/backend/src/scripts/configure-env.ts
  packages/backend/yarn.lock
  packages/frontend/.env.development
  packages/frontend/.env.production
  packages/frontend/src/services/firebase.ts
Labels: front-end, back-end, dx

#135 Fix client always running emulator
  packages/frontend/src/services/firebase.ts
Labels: bug, front-end

#126 Throw error on fetch fail
  packages/frontend/src/hooks/useApi.ts
Labels: bug, front-end

#137 Update firebase details
  packages/backend/.firebaserc
  packages/frontend/.env.development
  packages/frontend/.env.production
  packages/frontend/.firebaserc
  packages/frontend/src/pages/private/BillDetailPage.tsx
Labels: chore, security, dx

#146 Backend - Maintenance Issues CRUD
  packages/backend/src/app.module.ts
  packages/backend/src/controllers/issues/dto/create-issue.dto.ts
  packages/backend/src/controllers/issues/dto/issue-response.dto.ts
  packages/backend/src/controllers/issues/dto/resolve-issue.dto.ts
  packages/backend/src/controllers/issues/dto/update-issue.dto.ts
  packages/backend/src/controllers/issues/issues.controller.ts
  packages/backend/src/controllers/issues/issues.module.ts
  packages/backend/src/controllers/issues/issues.util.ts
  packages/backend/src/db/db.module.ts
  packages/backend/src/db/issue/issue.schema.ts
  packages/backend/src/db/issue/issueStore.service.spec.ts
  packages/backend/src/db/issue/issueStore.service.ts
Labels: feature, back-end

#102 Frontend - Notes page
  .idea/workspace.xml
  packages/frontend/package.json
  packages/frontend/src/components/common/util/UserDropdown.tsx
  packages/frontend/src/components/dashboard/QuickAccessPanel.tsx
  packages/frontend/src/components/notes/note/NotesGrid.tsx
  packages/frontend/src/components/notes/note/editButton.tsx
  packages/frontend/src/components/notes/note/editNoteModal.tsx
  packages/frontend/src/components/notes/note/newNoteModal.tsx
  packages/frontend/src/components/notes/note/noteCardController.tsx
  packages/frontend/src/components/notes/note/plainModal.tsx
  packages/frontend/src/components/notes/note/secretModal.tsx
  packages/frontend/src/components/notes/note/wifiModal.tsx
  packages/frontend/src/pages/private/NotesPage.tsx
  packages/frontend/src/pages/routes/AuthenticatedRoutes.tsx
  packages/frontend/src/res/svg/anon_profile_picture.svg
  packages/frontend/yarn.lock
Labels: feature, front-end

#159 Made landing page scale to mobile dimensions
  packages/frontend/src/pages/private/ManageAccountPage.tsx
  packages/frontend/src/pages/public/LandingPage.tsx
Labels: bug, front-end

#160 Modify notes dashboard
  packages/frontend/src/pages/private/NotesPage.tsx
Labels: feature, ux, front-end

#158 Implement House settings Component
  packages/frontend/src/components/manage/HouseSettings.tsx
Labels: feature, front-end

#162 Link Notes page to backend
  packages/frontend/src/components/notes/note/NotesGrid.tsx
  packages/frontend/src/components/notes/note/newNoteModal.tsx
  packages/frontend/src/components/notes/note/noteCardController.tsx
Labels: feature, front-end

#143 Frontend - Maintenance Issue Page
  packages/backend/src/controllers/issues/dto/create-issue.dto.ts
  packages/backend/src/controllers/issues/issues.controller.ts
  packages/frontend/src/components/dashboard/upcoming-tasks/UpcomingTask.tsx
  packages/frontend/src/components/issue/EditIssueCard.tsx
  packages/frontend/src/components/issue/NewIssueCard.tsx
  packages/frontend/src/pages/private/IssueDetailPage.tsx
  packages/frontend/src/pages/private/IssuesPage.tsx
  packages/frontend/src/pages/routes/AuthenticatedRoutes.tsx
  packages/frontend/src/types/api-schema.ts
Labels: feature, front-end

#172 Notes dashboard modifications
  packages/frontend/src/pages/private/NotesPage.tsx
Labels: feature, ux, front-end

#169 Frontend - Maintenance Issue Page
  packages/backend/src/controllers/issues/dto/create-issue.dto.ts
  packages/backend/src/controllers/issues/dto/issue-response.dto.ts
  packages/backend/src/controllers/issues/dto/update-issue.dto.ts
  packages/backend/src/controllers/issues/issues.controller.ts
  packages/backend/src/controllers/issues/issues.util.ts
  packages/backend/src/db/issue/issue.schema.ts
  packages/backend/src/db/issue/issueStore.service.spec.ts
  packages/frontend/src/components/dashboard/QuickAccessPanel.tsx
  packages/frontend/src/components/dashboard/upcoming-tasks/UpcomingTask.tsx
  packages/frontend/src/components/issue/EditIssueCard.tsx
  packages/frontend/src/components/issue/NewIssueCard.tsx
  packages/frontend/src/pages/private/IssueDetailPage.tsx
  packages/frontend/src/pages/private/IssuesPage.tsx
  packages/frontend/src/pages/routes/AuthenticatedRoutes.tsx
  packages/frontend/src/res/dashboard/repair.webp
  packages/frontend/src/types/api-schema.ts
Labels: enhancement, feature, front-end, back-end

#173 Notes grid clickable cards & QoL
  package.json
  packages/frontend/src/components/common/layout/Navigation.tsx
  packages/frontend/src/components/notes/note/NotesGrid.tsx
  packages/frontend/src/components/notes/note/plainModal.tsx
  packages/frontend/src/pages/private/NotesPage.tsx
  yarn.lock
Labels: feature, front-end
