Repository 701-T4/flatshare, pull requests merged in 2022-04, with the labels that each got.

#176 Added announcement card and panel components
  packages/frontend/src/components/announcement/AnnouncementCard.tsx
  packages/frontend/src/components/announcement/AnnouncementPanel.tsx
Labels: feature, front-end

#180 Implement Announcement model (new)
  packages/backend/src/db/announcement/announcement.schema.ts
  packages/backend/src/db/announcement/announcementStore.service.spec.ts
  packages/backend/src/db/announcement/announcementStore.service.ts
Labels: feature, back-end

#182 Implemented Notes edit modal & QoL
  packages/frontend/src/components/notes/note/NotesGrid.tsx
  packages/frontend/src/components/notes/note/editButton.tsx
  packages/frontend/src/components/notes/note/editNoteModal.tsx
  packages/frontend/src/components/notes/note/plainModal.tsx
  packages/frontend/src/components/notes/note/secretModal.tsx
  packages/frontend/src/components/notes/note/wifiModal.tsx
Labels: feature, front-end

#183 Implement POST announcement/
  packages/backend/src/app.module.ts
  packages/backend/src/controllers/announcements/announcements.controller.ts
  packages/backend/src/controllers/announcements/announcements.module.ts
  packages/backend/src/controllers/announcements/announcements.util.ts
  packages/backend/src/controllers/announcements/dto/announcement-response.dto.ts
  packages/backend/src/controllers/announcements/dto/create-announcement.dto.ts
  packages/backend/src/controllers/house/dto/house-response.dto.ts
  packages/backend/src/controllers/house/house.controller.spec.ts
  packages/backend/src/controllers/house/house.controller.ts
  packages/backend/src/controllers/house/house.module.ts
  packages/backend/src/db/db.module.ts
  packages/backend/src/db/house/house.schema.ts
Labels: feature, back-end

#184 implement `GET /house/announcements` endpoint
  packages/backend/src/controllers/announcements/announcements.controller.spec.ts
  packages/backend/src/controllers/announcements/announcements.controller.ts
Labels: enhancement, back-end

#186 Link Edit Note page to backend
  packages/backend/src/controllers/note/dto/note-response.dto.ts
  packages/backend/src/controllers/note/note.controller.spec.ts
  packages/backend/src/controllers/note/note.controller.ts
  packages/backend/src/controllers/note/note.module.ts
  packages/backend/src/controllers/note/note.utils.ts
  packages/backend/src/db/note/noteStore.service.ts
  packages/frontend/src/components/notes/note/NotesGrid.tsx
  packages/frontend/src/components/notes/note/editButton.tsx
  packages/frontend/src/components/notes/note/editNoteModal.tsx
  packages/frontend/src/components/notes/note/noteCardController.tsx
  packages/frontend/src/components/notes/note/plainModal.tsx
  packages/frontend/src/components/notes/note/secretModal.tsx
  packages/frontend/src/components/notes/note/wifiModal.tsx
  packages/frontend/src/types/api-schema.ts
Labels: enhancement, front-end, back-end

#178 Implemented create button
  packages/frontend/src/components/notes/note/newNoteModal.tsx
Labels: feature, front-end

#187 Implement announcement page
  packages/backend/src/controllers/announcements/announcements.controller.spec.ts
  packages/backend/src/controllers/announcements/announcements.controller.ts
  packages/frontend/src/components/announcement/AnnouncementCard.tsx
  packages/frontend/src/components/announcement/AnnouncementModalForm.tsx
  packages/frontend/src/components/common/layout/Navigation.tsx
  packages/frontend/src/components/common/layout/Page.tsx
  packages/frontend/src/components/dashboard/QuickAccessPanel.tsx
  packages/frontend/src/components/issue/NewIssueCard.tsx
  packages/frontend/src/pages/private/AnnouncementPage.tsx
  packages/frontend/src/pages/private/IssueDetailPage.tsx
  packages/frontend/src/pages/private/IssuesPage.tsx
  packages/frontend/src/pages/routes/AuthenticatedRoutes.tsx
  packages/frontend/src/res/dashboard/announcement.webp
  packages/frontend/src/types/api-schema.ts
Labels: enhancement, feature, front-end

#188 Dashboard announcement component
  packages/frontend/src/components/dashboard/announcement/DashboardAnnouncement.tsx
Labels: feature, front-end

#192 Fix wifi note
  packages/frontend/src/components/notes/note/newNoteModal.tsx
  packages/frontend/src/components/notes/note/wifiModal.tsx
Labels: bug, front-end

#194 Fix notes page/edit note page/create note page with minor additions
  packages/frontend/src/components/notes/note/editButton.tsx
  packages/frontend/src/components/notes/note/editNoteModal.tsx
  packages/frontend/src/components/notes/note/newNoteModal.tsx
  packages/frontend/src/components/notes/note/noteCardController.tsx
  packages/frontend/src/components/notes/note/plainModal.tsx
  packages/frontend/src/components/notes/note/secretModal.tsx
  packages/frontend/src/components/notes/note/wifiModal.tsx
Labels: bug, enhancement, front-end

#190 Add image upload for issue creation
  packages/backend/src/controllers/issues/issues.controller.ts
  packages/frontend/src/components/issue/NewIssueCard.tsx
  packages/frontend/src/pages/private/BillDetailPage.tsx
  packages/frontend/src/pages/private/IssueDetailPage.tsx
  packages/frontend/src/services/fileNameParser.ts
  packages/frontend/src/types/api-schema.ts
Labels: enhancement, front-end

#195 Link up dashboard announcement card to api
  packages/frontend/src/hooks/useHouse.tsx
  packages/frontend/src/pages/private/DashboardPage.tsx
Labels: feature, front-end

#171 Implement Manage Flat Page
  packages/backend/src/controllers/house/dto/house-response.dto.ts
  packages/backend/src/controllers/house/dto/update-house.dto.ts
  packages/backend/src/controllers/note/note.controller.ts
  packages/backend/src/db/house/house.schema.ts
  packages/backend/src/db/house/houseStore.service.spec.ts
  packages/frontend/src/components/dashboard/QuickAccessPanel.tsx
  packages/frontend/src/components/manage/HouseSettings.tsx
  packages/frontend/src/components/manage/OccupantCard.tsx
  packages/frontend/src/components/manage/OccupantForm.tsx
  packages/frontend/src/components/manage/OccupantPanel.tsx
  packages/frontend/src/hooks/useHouse.tsx
  packages/frontend/src/pages/private/ManageFlatPage.tsx
  packages/frontend/src/pages/routes/AuthenticatedRoutes.tsx
  packages/frontend/src/types/api-schema.ts
Labels: feature, front-end

#200 Add a back button to relevant pages
  packages/frontend/src/components/common/layout/Navigation.tsx
  packages/frontend/src/components/common/layout/Page.tsx
  packages/frontend/src/components/common/util/BackButton.tsx
  packages/frontend/src/pages/private/AnnouncementPage.tsx
  packages/frontend/src/pages/private/BillDetailPage.tsx
  packages/frontend/src/pages/private/BillSplittingPage.tsx
  packages/frontend/src/pages/private/IssueDetailPage.tsx
  packages/frontend/src/pages/private/IssuesPage.tsx
  packages/frontend/src/pages/private/ManageFlatPage.tsx
  packages/frontend/src/pages/private/NotesPage.tsx
Labels: enhancement, front-end

#198 Email communication with landlord
  package.json
  packages/frontend/.env.development
  packages/frontend/.env.production
  packages/frontend/package.json
  packages/frontend/src/components/issue/EditIssueCard.tsx
  packages/frontend/src/components/issue/NewIssueCard.tsx
  packages/frontend/src/pages/private/IssueDetailPage.tsx
  packages/frontend/src/pages/private/IssuesPage.tsx
  packages/frontend/yarn.lock
  yarn.lock
Labels: enhancement, feature, front-end

#199 Fix frontend and backend issues for manage flat feature
  packages/backend/src/controllers/users/users.controller.ts
  packages/frontend/src/components/manage/OccupantCard.tsx
  packages/frontend/src/components/manage/OccupantForm.tsx
  packages/frontend/src/pages/private/ManageFlatPage.tsx
Labels: bug, front-end, back-end

#201 fixed resolve bug in issue details page
  packages/frontend/src/pages/private/IssueDetailPage.tsx
Labels: bug, front-end

#202 Styling adjustment for icons
  packages/frontend/src/components/notes/note/editButton.tsx
  packages/frontend/src/components/notes/note/secretModal.tsx
  packages/frontend/src/pages/private/ManageAccountPage.tsx
Labels: ux, front-end

#101 Add implementation for tasks page
  LICENSE-3RD-PARTY.md
  packages/backend/src/controllers/tasks/dto/house-tasks-response.dto.ts
  packages/backend/src/controllers/tasks/dto/task-response-dto.ts
  packages/backend/src/controllers/tasks/tasks.controller.ts
  packages/frontend/LICENSE-3RD-PARTY.md
  packages/frontend/package.json
  packages/frontend/src/components/dashboard/QuickAccessPanel.tsx
  packages/frontend/src/components/dashboard/upcoming-tasks/UpcomingTask.tsx
  packages/frontend/src/components/notes/note/newNoteModal.tsx
  packages/frontend/src/components/task/task/AssigneeSelectionList.tsx
  packages/frontend/src/components/task/task/CreateNewTaskButton.tsx
  packages/frontend/src/components/task/task/CreateTaskModal.tsx
  packages/frontend/src/components/task/task/DeleteButton.tsx
  packages/frontend/src/components/task/task/EditTaskModal.tsx
  packages/frontend/src/components/task/task/ErrorModal.tsx
  packages/frontend/src/components/task/task/ReturnButton.tsx
  packages/frontend/src/pages/private/DashboardPage.tsx
  packages/frontend/src/pages/private/TaskDetailPage.tsx
  packages/frontend/src/pages/private/TaskPage.tsx
  packages/frontend/src/pages/routes/AuthenticatedRoutes.tsx
  packages/frontend/src/types/api-schema.ts
  packages/frontend/src/types/user-type.ts
  packages/frontend/tailwind.config.js
  packages/frontend/yarn.lock
Labels: feature, front-end

#205 Global stylings and issues fixing
  packages/frontend/src/components/account/CreateHouseModal.tsx
  packages/frontend/src/components/account/JoinHouseModal.tsx
  packages/frontend/src/components/announcement/AnnouncementCard.tsx
  packages/frontend/src/components/announcement/AnnouncementModalForm.tsx
  packages/frontend/src/components/bill/EditBillCard.tsx
  packages/frontend/src/components/bill/NewBillCard.tsx
  packages/frontend/src/components/common/layout/Footer.tsx
  packages/frontend/src/components/common/layout/Navigation.tsx
  packages/frontend/src/components/common/util/BackButton.tsx
  packages/frontend/src/components/common/util/UserDropdown.tsx
  packages/frontend/src/components/dashboard/QuickAccessPanel.tsx
  packages/frontend/src/components/dashboard/announcement/DashboardAnnouncement.tsx
  packages/frontend/src/components/dashboard/upcoming-tasks/UpcomingTask.tsx
  packages/frontend/src/components/issue/NewIssueCard.tsx
  packages/frontend/src/components/manage/HouseSettings.tsx
  packages/frontend/src/components/manage/OccupantForm.tsx
  packages/frontend/src/components/notes/note/NotesGrid.tsx
  packages/frontend/src/components/notes/note/newNoteModal.tsx
  packages/frontend/src/components/notes/note/plainModal.tsx
  packages/frontend/src/components/task/task/CreateNewTaskButton.tsx
  packages/frontend/src/pages/private/AnnouncementPage.tsx
  packages/frontend/src/pages/private/BillDetailPage.tsx
  packages/frontend/src/pages/private/BillSplittingPage.tsx
  packages/frontend/src/pages/private/IssueDetailPage.tsx
  packages/frontend/src/pages/private/IssuesPage.tsx
  packages/frontend/src/pages/private/ManageAccountPage.tsx
  packages/frontend/src/pages/private/NotesPage.tsx
  packages/frontend/src/pages/private/TaskPage.tsx
  packages/frontend/src/pages/public/LandingPage.tsx
  packages/frontend/src/pages/public/SignInPage.tsx
  packages/frontend/src/res/svg/default_avatar.svg
  packages/frontend/src/styles/index.css
Labels: enhancement, front-end, back-end

#207 Fixed Inconsistency on Notes pages
  packages/frontend/src/components/notes/note/newNoteModal.tsx
Labels: bug, ux, front-end

#209 Add comments to module files related to the issue feature
  packages/backend/src/controllers/issues/issues.module.ts
  packages/backend/src/db/db.module.ts
Labels: back-end, documentation

#211 Add doc comments to ST1 features
  packages/backend/src/controllers/announcements/announcements.controller.spec.ts
  packages/backend/src/controllers/announcements/announcements.controller.ts
  packages/backend/src/controllers/announcements/announcements.util.ts
  packages/backend/src/controllers/announcements/dto/announcement-response.dto.ts
  packages/backend/src/controllers/announcements/dto/create-announcement.dto.ts
  packages/backend/src/controllers/house/house.controller.ts
  packages/backend/src/db/announcement/announcement.schema.ts
  packages/backend/src/db/announcement/announcementStore.service.spec.ts
  packages/backend/src/db/announcement/announcementStore.service.ts
  packages/backend/src/db/house/house.schema.ts
Labels: back-end, documentation
